# Virtual Environment
venv/
.venv/
env/

# Environment Variables (Secrets)
.env

# Local Cache / DB
repo_cache/
repo_cache_*
chroma_db/
chroma_db_*
test_chroma_db/
test_db/
test_persistent_db/

# Python Cache
__pycache__/
*.pyc

# OS Files
.DS_Store
Thumbs.db

# Developer Guides
developer_guide.txt

